.up{
  color: green;
}

.red{
  color: #d9534f;
}

.green{
  color: #5cb85c
}

.down{
  color: #d9534f;
}

.pointer{
  cursor: pointer;
}

.selected, .table-striped > tbody > tr.selected:nth-of-type(odd), .table-hover > tbody > tr:hover{
  background-color: rgba(255, 251, 204, 0.8);
}

.change {
    background-color: #d9534f;
}

.italic{
    font-style: italic;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

#beamer_clock{
    padding: 20px;
    text-align:center;
    font-size: 56pt;
}

.change-add,.change-remove {
  background-color: white;
  transition: all 1s;
  -webkit-transition: all 1s ease-in;
}
.change-add-active {
  background-color: #d9534f;
}
.change-remove {
    background-color: #d9534f;

}
.change-remove-active {
  background-color: white;
}

.change-up {
    background-color: #5cb85c;
}
.change-up-add,.change-up-remove {
  background-color: white;
  transition: all 1s;
  -webkit-transition: all 1s ease-in;
}
.change-up-add-active {
  background-color: #5cb85c;
}
.change-up-remove {
    background-color: #5cb85c;

}
.change-up-remove-active {
  background-color: white;
}

.stock .glyphicon-arrow-up{
  display:none;
}
.stock.change-up .glyphicon-arrow-up, .stock.change-up-add .glyphicon-arrow-up{
  display:inline-block;
}

.stock .glyphicon-arrow-down{
  display:none;
}
.stock.change .glyphicon-arrow-down, .stock.change-add .glyphicon-arrow-down{
  display:inline-block;
}