#logo{
  margin: 15px;
}

.orders .order.SUBMITTED{

}

.orders .order.PROCESSED{

}

.orders .order.FAILED{
  color: #d9534f;
}

.clock{
position: absolute;
top: 15px;
right: 15px;
}

.up{
  color: green;
}

.red{
  color: #d9534f;
}

.green{
  color: #5cb85c
}

.down{
  color: #d9534f;
}

.pointer{
  cursor: pointer;
}

.selected, .table-striped > tbody > tr.selected:nth-of-type(odd), .table-hover > tbody > tr:hover{
  background-color: rgba(255, 251, 204, 0.8);
}

.bid{
  background-color: rgba(102, 255, 102, 0.8);
}

.ask{
  background-color: rgba(102, 178, 255, 0.8);
}

.market{
  background-color: rgba(168, 168, 168, 0.8);
}

.change {
    background-color: #d9534f;
}

.italic{
    font-style: italic;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

#beamer_clock{
    padding: 20px;
    text-align:center;
    font-size: 56pt;
}

.change-add,.change-remove {
  background-color: white;
  transition: all 1s;
  -webkit-transition: all 1s ease-in;
}
.change-add-active {
  background-color: #d9534f;
}
.change-remove {
    background-color: #d9534f;

}
.change-remove-active {
  background-color: white;
}

.change-up {
    background-color: #5cb85c;
}
.change-up-add,.change-up-remove {
  background-color: white;
  transition: all 1s;
  -webkit-transition: all 1s ease-in;
}
.change-up-add-active {
  background-color: #5cb85c;
}
.change-up-remove {
    background-color: #5cb85c;

}
.change-up-remove-active {
  background-color: white;
}

.stock .glyphicon-arrow-up{
  display:none;
}
.stock.change-up .glyphicon-arrow-up, .stock.change-up-add .glyphicon-arrow-up{
  display:inline-block;
}

.stock .glyphicon-arrow-down{
  display:none;
}
.stock.change .glyphicon-arrow-down, .stock.change-add .glyphicon-arrow-down{
  display:inline-block;
}

/* smart table page select */

.table.orders th{
    vertical-align: top;
}
.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}


.form-inline.st-number-range .form-group,
.form-inline.st-number-range .form-control{
    width: 80px;
}