<div class="container-fluid">
<h2 class="clock text-right">Clock: R{{data.holdings.clock.sim_round}}/D{{data.holdings.clock.sim_day |numberFixedLen:2 }} - {{data.holdings.clock.state}}<br/><small>{{data.holdings.clock.timestamp|date:'medium'}}</small></h2>
<div class="row">
  <div class="col-md-9">
    <h2>Holdings</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Stock</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Total Quantity</th>
          <th class="text-right">% Owned</th>
          <th class="text-right">Quote</th>
          <th class="text-right">Market Value</th>
          <th class="text-right">Purchase Value</th>
          <th class="text-right">Gain</th>
          <th class="text-right">Gain %</th>
          <th class="text-right">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="data.setCurrentStock(holding.stock_id)" ng-class="{selected: data.currentStock.id == holding.stock_id}" ng-repeat="holding in data.holdings.stocks track by holding.stock_id">
          <td class="pointer">{{holding.symbol}}</td>
          <td class="text-right">{{holding.quantity}}</td>
          <td class="text-right">{{holding.outstanding_shares | number : 0}}</td>
          <td class="text-right">{{holding.shares_p*100 | number : 2}}%</td>
          <td class="text-right">{{holding.price | number : 2}}</td>
          <td class="text-right">{{holding.value | number : 2}}</td>
          <td class="text-right">{{holding.amount | number : 2}}</td>
          <td class="text-right" updown-class="holding.gain">{{holding.gain | number : 2}}</td>
          <td class="text-right" updown-class="holding.gain_p">{{holding.gain_p | number : 2}}%</td>
          <td class="text-right">
            <button class="btn btn-success btn-sm" ng-click="order(holding.stock_id, 'BID');$event.stopPropagation()">Buy</button>
            <button class="btn btn-danger btn-sm" ng-click="order(holding.stock_id, 'ASK');$event.stopPropagation()">Sell</button>
          </td>
        </tr>
        <tr ng-show="data.holdings.cash.TRANSACTIONS" class="italic">
          <td class="pointer" colspan="3" ng-click="data.setCurrentStock()">{{data.holdings.cash.TRANSACTIONS.asset}}</td>
          <td></td>
          <td></td>
          <td class="text-right">{{data.holdings.cash.TRANSACTIONS.amount | number : 2}}</td>
          <td class="text-right">{{data.holdings.cash.TRANSACTIONS.value | number : 2}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="data.holdings.cash.DIVIDENDS" class="italic">
          <td class="pointer" colspan="3" title="click to show details" ng-click="$parent.showDividends=!$parent.showDividends;data.setCurrentStock()">{{data.holdings.cash.DIVIDENDS.asset}}</td>
          <td></td>
          <td></td>
          <td class="text-right">{{data.holdings.cash.DIVIDENDS.amount | number : 2}}</td>
          <td class="text-right">{{data.holdings.cash.DIVIDENDS.value | number : 2}}</td>
          <td></td>
          <td></td>
          <td><button ng-show="!$last && !$first" class="btn btn-primary btn-sm" ng-click="$parent.showDividends=!$parent.showDividends"><span class="glyphicon" ng-class="{'glyphicon-zoom-in': !$parent.showDividends ,'glyphicon-zoom-out':$parent.showDividends}"></span></button></td>
        </tr>
        <tr>
          <td class="pointer" colspan="3" ng-click="data.setCurrentStock()">{{data.holdings.cash.CASH.asset}}</td>
          <td></td>
          <td></td>
          <td class="text-right">{{data.holdings.cash.CASH.amount | number : 2}}</td>
          <td class="text-right">{{data.holdings.cash.CASH.value | number : 2}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">Balance</td>
          <td></td>
          <td></td>
          <td class="text-right">{{data.holdings.balance.market_value | number : 2}}</td>
          <td class="text-right">{{data.holdings.balance.purchase_value | number : 2}}</td>
          <td class="text-right" updown-class="data.holdings.balance.gain">{{data.holdings.balance.gain | number : 2}}</td>
          <td class="text-right" updown-class="data.holdings.balance.gain_p">{{data.holdings.balance.gain_p | number : 2}}%</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div ng-show="showDividends">
    <h2>Dividends payment <span class="red pointer" ng-click="showDividends=!showDividends">X</span></h2>
    <uib-tabset>
      <uib-tab ng-repeat="(r, rd) in data.dividends" heading="R{{r}}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Symbol</th>
              <th class="text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="dividend in rd track by dividend.id">
            <td>{{dividend.stock}}</td>
            <td class="text-right">{{dividend.amount | number : 2}}</td>
          </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
    </div>

  </div>

  <div class="col-md-3">
    <h2>Book of orders for stock {{data.currentStock.symbol}}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Quantity (Nb of orders)</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="order in data.ordersBook" ng-class="{bid: order.order_type == 'BID', ask: order.order_type == 'ASK', market: order.order_type == 'MARKET'}">
        <td ng-if="order.order_type != 'MARKET'">
	  {{order.quantity | number: 0}} ({{ order.orders | number: 0 }})
	</td>
        <td ng-if="order.order_type == 'MARKET'">
	</td>
        <td>{{order.price | number : 2}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row" ng-show="data.currentStock.id">
  <div class="col-md-12">
    <h2>Stock evolution: {{data.currentStock.symbol}}, {{data.currentStock.name}} <span class="red pointer" ng-click="data.setCurrentStock()">X</span></h2>
    <div ng-show="data.currentStock.history.length == 0">No data</div>
    <am-charts ng-show="data.currentStock.history.length > 0" chart-data="data.currentStock.history"></am-charts>
  </div>
</div>

<div class="row" >

</div>


<div class="row">
  <div class="col-md-6">
    <h2>Orders</h2>
    <table class="table table-striped orders">
      <thead>
      <tr>
        <th>Round/Day</th>
        <th>Date/Time</th>
        <th>Symbol</th>
        <th>Type</th>
        <th class="text-right">Quantity</th>
        <th class="text-right">Price</th>
        <th class="text-right">Completed</th>
      </tr>
      </thead>
      <tbody>
      <tr class="order" ng-class="order.state" ng-repeat="order in data.orders track by order.id">
      <!-- TODO: validated? cancel-->
        <td>R{{order.sim_round}}/D{{order.sim_day|numberFixedLen:2}}</td>
        <td>{{order.created_at | date:'medium'}}</td>
        <td>{{order.stock.symbol}}</td>
        <td>{{order.order_type}}</td>
        <td class="text-right">{{order.quantity}}</td>
        <td class="text-right">{{(order.price | number : 2) || 'market'}}</td>
        <td class="text-right">
          <span ng-show="order.state == 'PROCESSED'">{{order.transaction | date:'medium'}}</span>
          <span ng-show="order.state == 'FAILED'">FAILED</span>
          <button class="btn btn-warning btn-sm" ng-click="data.cancelOrder(order)" ng-show="order.state == 'SUBMITTED'">Cancel</button>
        <td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

  </div>
<script type="text/ng-template" id="orderModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Send a {{order.order_type}} Order</h3>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label class="control-label">Stock</label>
          <div>{{stock.symbol}}, {{stock.name}}</div>
        </div>
        <div class="form-group">
          <label for="id_quantity" class="control-label">Quantity</label>
          <input type="number" class="numberinput form-control" id="id_quantity" min="1" ng-model="order.quantity"/>
          <p id="hint_id_quantity" class="help-block">Quantity ordered. If the total quantity can not be provided, a new order will be created with the balance</p>
        </div>
        <div class="form-group">
          <label for="id_price" class="control-label">Price tag</label>
          <input type="number" class="numberinput form-control"  id="id_price" ng-model="order.price" placeholder="current market: {{stock.price|number:2}}" />
          <p id="hint_id_price" class="help-block">Price tag for one stock. If NULL, best available price</p>
        </div>
      </form>
      <div class="text-right">Cost: {{order.quantity * (order.price || stock.price) || 0 | number: 2}}</div>
      <div class="text-right">CASH: {{data.holdings.cash.CASH.amount | number: 2}}</div>
      <div class="text-right">Diff: {{data.holdings.cash.CASH.amount - (order.quantity * (order.price || stock.price)) | number: 2}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Send</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
