<table class="table">
    <thead>
        <tr>
            <th>Quantity (Nb of orders)</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in data.booksoforders[config.stockID || dashboard.currentStock.id]" ng-class="{bid: order.order_type == 'BID', ask: order.order_type == 'ASK', market: order.order_type == 'MARKET'}">
            <td ng-if="order.order_type != 'MARKET'">
                {{order.quantity | number: 0}} ({{ order.orders | number: 0 }})
            </td>
            <td ng-if="order.order_type == 'MARKET'"></td>
            <td>{{order.price | number : 2}}</td>
        </tr>
    </tbody>
</table>