<table st-set-filter="customTableFilter" st-table="data.displayOrders" st-safe-src="data.orders" class="table table-striped orders">
    <thead>
    <tr>
    <th>Round/Day</th>
    <th>Date/Time</th>
    <th>Symbol</th>
    <th>Type</th>
    <th class="text-right">Quantity</th>
    <th class="text-right">Price</th>
    <th class="text-right">Completed</th>
    </tr>
    <tr>
        <th>
            <input st-search="date" placeholder="Filter round/day" class="input-sm form-control" type="search"/>
        </th>
        <th></th>
        <th>
            <st-select-multiple collection="data.orders" predicate="symbol"></st-select-multiple>
        </th>
        <th>
            <st-select-multiple collection="data.orders" predicate="order_type"></st-select-multiple>
        </th>
        <th class="text-right">
            <st-number-range predicate="quantity"></st-number-range>
        </th>
        <th class="text-right">
            <st-number-range predicate="price"></st-number-range>
        </th>
        <th class="text-right">
            <st-select-multiple collection="data.orders" predicate="state"></st-select-multiple>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="order" ng-class="order.state" ng-repeat="order in data.displayOrders track by order.id">
    <!-- TODO: validated? cancel-->
    <td>{{order.date}}</td>
    <td>{{order.created_at | date:'medium'}}</td>
    <td>{{order.symbol}}</td>
    <td>{{order.order_type}}</td>
    <td class="text-right">{{order.quantity}}</td>
    <td class="text-right">{{(order.price | number : 2) || 'market'}}</td>
    <td class="text-right">
        <span ng-show="order.state == 'PROCESSED'">{{order.transaction | date:'medium'}}</span>
        <span ng-show="order.state == 'FAILED'">FAILED</span>
        <button class="btn btn-warning btn-sm" ng-click="data.cancelOrder(order)" ng-show="order.state == 'SUBMITTED'">Cancel</button>
    <td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="text-center">
                <div st-pagination="" st-items-by-page="10"  st-template="views/pagination.custom.html"></div>
            </td>
        </tr>
    </tfoot>
</table>